* {
    font-family: sans-serif;
}

.system_global_caption {
    background-color: #777;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.narrow-body {
    width: 800px;
    margin: 0 auto;
}

.content_caption {
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.nav {
    box-sizing: border-box;
    float: left;
    width: 20%;
    padding: 10px;
}

.content {
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 80%;
    border-left: 1px solid black;
}

.above-content {
    padding-bottom: 5px;
}

.above-content-sticky {
    background: #ffffff;
    /*line-height: 12px;*/
    font-size: 30px;
    position: sticky;
    top: 0;
    margin-bottom: 10px;
}

/* Style the list inside the menu */
.nav ul {
    list-style-type: none;
    padding: 0;
}

.error-message {
    background-color: darkred;
    color: white;
    font-size: 20px;
    position: sticky;
    bottom: 0;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.error-message-success {
    background-color: darkgreen;
    color: white;
    font-size: 20px;
    position: sticky;
    bottom: 0;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.error-message-hidden{
    display: none;
}

body {
    background-color: darkgrey;
}
