.system_global_caption {
    background-color: #777;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.content_caption {
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.entry {
    border: 2px solid black;
    margin-bottom: 30px;
}

.nav {
    box-sizing: border-box;
    float: left;
    width: 20%;
    padding: 10px;
}

/* Style the list inside the menu */
.nav ul {
    list-style-type: none;
    padding: 0;
}

.content {
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 80%;
    border-left: 1px solid black;
}