.system_global_caption {
    background-color: #777;
    padding: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 35px;
    color: white;
}

.narrow-body {
    width: 800px;
    margin: 0 auto;
}

.content_caption {
    padding-bottom: 5px;
    text-align: center;
    font-size: 25px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
}

.entry {
    border: 2px solid black;
    margin-bottom: 30px;
}

.nav {
    box-sizing: border-box;
    float: left;
    width: 20%;
    padding: 10px;
}

/* Style the list inside the menu */
.nav ul {
    list-style-type: none;
    padding: 0;
}

.content {
    box-sizing: border-box;
    float: left;
    padding: 20px;
    width: 80%;
    border-left: 1px solid black;
}

table.entries-list {
    width: 100%;
    text-align: left;
}

.ticket-opened-not-sold {
    border-collapse: collapse;
    border: 2px solid black;
    background-color: rgba(59, 255, 59, 0.21);
    margin-bottom: 20px;
    width: 100%;
}

.ticket-opened-sold {
    border-collapse: collapse;
    border: 2px solid black;
    margin-bottom: 20px;
    width: 100%;
    background: lightcoral linear-gradient(
            to left bottom, transparent calc(50% - 1px), black,
            transparent calc(50% + 1px)
    );
}

.ticket-not-opened {
    border-collapse: collapse;
    border: 2px solid black;
    background-color: lightgrey;
    margin-bottom: 20px;
    width: 100%;
}

td, th {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.above-content {
    padding-bottom: 5px;
}

.search-input {
    margin-bottom: 5px;
}