.center {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 15px;
    transform: translate(-50%,-50%);
}

.parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-wrap: wrap;
    width: 20%;
    justify-content: center;
}

.input {
    font-size: 15px;
    background-color: lightgray;
    border: 2px solid black;
    color: black;
    padding: 5px 5px;
    width: 100%;
}

body {
    background-color: darkgrey;
    font-family: arial,sans-serif;
}

::placeholder {
    color: #888888;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    color: #757575;
    cursor: default;
    font-size: 13px;
    font-weight: bold;
    margin: 11px 4px;
    min-width: 54px;
    padding: 3px 16px;
    text-align: center;
}

.guest {
    font-size: small;
}

.error-message {
    background-color: darkred;
    color: white;
    font-size: 20px;
    position: sticky;
    bottom: 0;
    padding: 10px 10px;
    text-align: center;
    display: inline-block;
    width: 100%;
}

.error-message-hidden{
    visibility: hidden;
}
