.search-input-text {
    margin-bottom: 5px;
    margin-right: 10px;
    background: lightgray;
    border: 1px solid darkgrey;
    height: 20px;
}

.search-input-number {
    margin-bottom: 5px;
    margin-right: 10px;
    background: lightgray;
    border: 1px solid darkgrey;
    height: 20px;
}

.action-form {
    display: inline-block;
    text-align: center;
    width: 100%;
    background-color: darkgrey;
}

.action-button {
    display: inline-block;
    margin: 5px 0;
    background-color: #777;
    color: white;
    padding: 15px 30px;
    text-align: center;
    font-size: 16px;
    width: 24%;
    border: 1px solid darkgrey;
}

.action-form-label {
    font-size: 20px;
}

.search-button {
    background: lightgray;
    height: 20px;
}

.search-form {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}
