.ticket-opened-not-sold {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: darkseagreen;
    margin-bottom: 20px;
    width: 100%;
}

.ticket-opened-not-sold input {
    background: darkseagreen;
    border: 1px solid darkseagreen;
    font-size: initial;
    color: black;
}

.ticket-opened-sold {
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 20px;
    width: 100%;
    background: lightcoral;
}

.ticket-opened-sold input {
    background: lightcoral;
    border: 1px solid lightcoral;
    font-size: initial;
    color: black;
}

.ticket-not-opened {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: lightgrey;
    margin-bottom: 20px;
    width: 100%;
}

.ticket-not-opened input {
    background: lightgray;
    border: 1px solid lightgray;
    font-size: initial;
    color: black;
}

.ticket-selected {
    border-collapse: collapse;
    border: 3px solid black;
}

td, th {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.tooltip span{
	display: none;
	padding: 2px 2px;
	margin-left: 100px;
    margin-top: -50px;
	width: 150px;
}

.tooltip:hover span{
	display: inline;
	position: absolute;
	border: 1px solid lightgray;
    color: black;
    background: lightgray;
}
