.ticket-opened-not-sold {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: rgba(59, 255, 59, 0.21);
    margin-bottom: 20px;
    width: 100%;
}

.ticket-opened-sold {
    border-collapse: collapse;
    border: 1px solid black;
    margin-bottom: 20px;
    width: 100%;
    background: lightcoral linear-gradient(
            to left bottom, transparent calc(50% - 1px), black,
            transparent calc(50% + 1px)
    );
}

.ticket-not-opened {
    border-collapse: collapse;
    border: 1px solid black;
    background-color: lightgrey;
    margin-bottom: 20px;
    width: 100%;
}

.ticket-selected {
    border-collapse: collapse;
    border: 3px solid black;
}

td, th {
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
}

.tooltip span{
	display: none;
	padding: 2px 2px;
	margin-left: 100px;
    margin-top: -50px;
	width: 150px;
}

.tooltip:hover span{
	display: inline;
	position: absolute;
	border: 1px solid lightgray;
    color: black;
    background: lightgray;
}
