<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/base.css') }}"/>

{% block stylesheet %}
{% endblock %}

<head>
    <title>
        {% block title %} {% endblock %}
    </title>
</head>

<body> <div class="narrow-body">

    {% block script %}
    {% endblock %}

    <div class="system_global_caption">
        Система продажи билетов
    </div>

    <div class="nav">
        <ul>
            <li><a href="{{
                    url_for('tickets_handler.ticket_view_all')
                    }}">Билеты</a> </li>
            <li><a href="{{
                    url_for('organizers_handler.organizers_view_all')
                    }}">Организаторы</a> </li>
            <li><a href="{{
                    url_for('coupons_handler.coupons_view_all')
                    }}">Купоны</a> </li>
        </ul>
    </div>

    <div class="content">
        <div class="content_caption">
            {% block content_caption %}
            {% endblock %}
        </div>

        <div class="above-content">
            {% block above_content %}
            {% endblock %}
        </div>

        {% block content %}
        {% endblock %}
    </div>
</div> </body>
</html>