<table class="entries-list" id="{{ i.id }}" ondblclick="selectOrganizer(this)">
    <tr>
        <td>
            ID: <b>{{ i.id }}</b> <br>
            <hr color="black">
            Наименование: <b>
            <input id="name" type="text" placeholder="{{ i.name }}" readonly="readonly" onkeydown="changeOrganizer(this)" onclick="makeOrgFieldEditable(this)">
            </b> <br>
            Адрес: <b><input id="address" type="text" placeholder="{{ i.address }}" readonly="readonly" onkeydown="changeOrganizer(this)" onclick="makeOrgFieldEditable(this)"></b>
        </td>
    </tr>
</table>