{% extends 'base.html' %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/organizers_list.css') }}"/>
{% endblock %}

{% block title %}
Список организаторов
{% endblock %}

{% block content_caption %}
    Список организаторов
{% endblock %}

{% block content %}

    <table class="entries-list">
        {% for i in attributes %}
            <tr> <th class="entry">
                <b>{{ i.id }}</b> <br>
                <hr>
                Организатор: <b>{{ i.name }}</b>,
                Адрес: <b>{{ i.address }}</b> <br>
            </th> </tr>
        {% endfor %}
    </table>
{% endblock %}
