{% if entry.openedforselling and not entry.issold %}
    <table class="ticket-opened-not-sold tooltip" ondblclick="selectTickets(this)" id={{ entry.id }}>
{% endif %}

{% if entry.openedforselling and entry.issold %}
    <table class="ticket-opened-sold tooltip" ondblclick="selectTickets(this)" id={{ entry.id }}>
{% endif %}

{% if not entry.openedforselling %}
    <table class="ticket-not-opened tooltip" ondblclick="selectTickets(this)" id={{ entry.id }}>
{% endif %}

    <tr>
        <th colspan=3>
            {{ entry.eventorganizername }}, {{ entry.eventplace }} <br>
            <input id="eventname" type="text" placeholder="{{ entry.eventname }}" readonly="readonly" onkeydown="changeTicket(this)" onclick="makeFieldEditable(this)"
            style="width: 200px;">
        </th>
    </tr>
    <tr>
        <td>Дата: <input id="eventdate" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" placeholder="{{ entry.eventdate }}" readonly="readonly" onkeydown="changeTicket(this)" onclick="makeFieldEditable(this)"><br>
            Время: <input id="eventtime" type="text" onfocus="(this.type='time')" onblur="(this.type='text')" placeholder="{{ entry.eventtime }}" readonly="readonly" onkeydown="changeTicket(this)" onclick="makeFieldEditable(this)"></td>
        <td>Цена: <input id="sellprice" type="text" placeholder="{{ entry.sellprice }}" readonly="readonly" onkeydown="changeTicket(this)" onclick="makeFieldEditable(this)"></td>
        <td>
            {{ entry.serialnumber }}

            <span>
               {% if entry.openedforselling and not entry.issold %}
                   Вы можете продать этот билет
               {% endif %}

               {% if entry.openedforselling and entry.issold %}
                   Этот билет уже продан!
               {% endif %}

               {% if not entry.openedforselling %}
                   Билет еще не открыт для продажи!
               {% endif %}
            </span>

        </td>
    </tr>

    {% if entry.comment != "" %}
        <tr>
            <th colspan=3>{{ entry.comment }}</th>
        </tr>
    {% endif %}

</table>
