{% extends 'base.html' %}

{% block title %}
    Список билетов
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='js/tickets_list.js')}}"></script>
{% endblock %}

{% block content_caption %}
    Список билетов
{% endblock %}

{% block above_content %}
    <form onsubmit="disableEmptyInputs(this)" action="{{ url_for('tickets_handler.ticket_view_specific') }}" method="get">
        <label>
            Название: <input type="text" name="eventname" class="search-input"/> <br>
            Дата: <input type="text" name="eventdate" class="search-input"/> <br>
            Время: <input type="text" name="eventtime" class="search-input"/> <br>
            Место: <input type="text" name="eventplace" class="search-input"/> <br>
            Цена: <input type="text" name="sellprice" class="search-input"/> <br>
            id организатора: <input type="text" name="organizerid" class="search-input"/> <br>
            Серийный номер: <input type="text" name="serialnumber" class="search-input"/> <br>
        </label>
        <button type="submit"><b>Поиск</b></button>
    </form>
{% endblock %}

{% block content %}
    {% for entry in attributes %}
        {% include 'ticket_entry.html' %}
    {% endfor %}
{% endblock %}