{% extends 'base.html' %}

{% block script %}
    <script src="{{ url_for('static', filename='js/tickets_list.js')}}"></script>
{% endblock %}

{% block stylesheet %}
<link rel="stylesheet" type="text/css"
      href="{{ url_for('static', filename='css/tickets_list.css') }}"/>
{% endblock %}

{% block title %}
    Список билетов
{% endblock %}

{% block content_caption %}
    Список билетов
{% endblock %}

{% block above_content %}
    <form onsubmit="disableEmptyInputs(this)"
          action="{{ url_for('tickets_handler.ticket_view_specific') }}" method="get">
        <label>
            Название: <input type="text" name="eventname" class="search-input-text"/> <br>
            Дата: <input type="text" name="eventdate" class="search-input-text"/>
            Время: <input type="text" name="eventtime" class="search-input-text"/>
            Место: <input type="text" name="eventplace" class="search-input-text"/> <br>
            Цена: <input type="text" name="sellprice" class="search-input-number"/>
            id организатора: <input type="text" name="organizerid" class="search-input-number"/> <br>
            Серийный номер: <input type="text" name="serialnumber" class="search-input-text"/> <br>
        </label>
        <button type="submit"><b>Поиск</b></button>
    </form>
{% endblock %}

{% block above_content_sticky %}
    <form class="action-form">
{#        <div class="action-form-label">Доступные действия:</div>#}
        <button type="button" class="action-button" onclick="sellTickets()">Продать</button>
        <button type="button" class="action-button">Удалить</button>
        <button type="button" class="action-button">Изменить</button>
    </form>
{% endblock %}

{% block content %}
    {% for entry in attributes %}
        {% include 'ticket_entry.html' %}
    {% endfor %}
{% endblock %}
